[submodule "cpp/cmake"]
	path = cpp/cmake
	url = git@github.com:lasyard/coding-cpp-cmake.git
[submodule "java/maven"]
	path = java/maven
	url = git@github.com:lasyard/code-java-maven.git
[submodule "java/gradle"]
	path = java/gradle
	url = git@github.com:lasyard/coding-java-gradle.git
[submodule "cpp/cmm-script"]
	path = cpp/cmm-script
	url = git@github.com:lasyard/cmm-script.git
